*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding:0px;
    font-family: 'Roboto Slab', serif;

}

p{
    margin: 0px;
}
a{
    text-decoration: none;

}



                          /* nav bar */

  .web-page1{
    background-color:  #f2e2fbe9;
    width: 100%;
    height: 700px;
    margin: 0px;
    padding: 0px;
}

.nav-bar{
    background-color: white;
    height: 100px;
    border: 1px solid blueviolet;
    padding: 5px;
    position:sticky;
    top: 0px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.575);
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
}

nav{

    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.nav-start{
    font-size: xx-large;
}

.nav-mid{
    display: flex;
    justify-content:space-between;
    width: 500px;
    font-size: larger;
    font-weight: 350;
    cursor: pointer;
}

.home:hover{
    font-weight: 200;
    text-decoration: underline;
    transform: scale(1.1); 
    color: blueviolet; 
}
.service:hover{
    font-weight: 200;
    text-decoration: underline;
    transform: scale(1.1);  
    color: blueviolet; 
}
.about:hover{
    font-weight: 200;
    text-decoration: underline;
    transform: scale(1.1); 
    color: blueviolet;  
}
.testimonial:hover{
    font-weight: 200;
    text-decoration: underline;
    transform: scale(1.1); 
    color: blueviolet;  
}
.clients:hover{
    font-weight: 200;
    text-decoration: underline;
    transform: scale(1.1); 
    color: blueviolet;  
}
.contact:hover{
    font-weight: 200;
    text-decoration: underline;
    transform: scale(1.1); 
    color: blueviolet;  
}

.nav-end{
    font-size: larger;
    font-weight: 350;
    width: 150px;
    height: 50px;
    padding: 15px 5px 5px 35px;
    border-radius: 30px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.nav-end:hover{
    background-color: rgb(5, 4, 43);
}


                                                    /* webpage-1 content */




.main-content{
    width: 800px;
    height: fit-content;
    padding: 10px 0px 0px 150px;
}

.header1{
    font-size: 50px;
    font-weight: 900;
    width: fit-content;
    height: fit-content;
}
.header1 h1{
    margin-bottom: 30px;
}

.para1{
    font-size: x-large;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: 0px 0px 50px 0px;
}

.learn-more [type=button],
.submit [type=submit]{
    width: 150px;
    height: 50px;
    border-radius: 25px;
    font-weight: 200;
    font-size: larger;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.learn-more [type=button]:hover,
.submit [type=submit]:hover{
    background-color: rgb(5, 5, 43);
}

.material-symbols-outlined{
    position: fixed;
    bottom: 20px;
    right: 20px; 
    font-size: 40px !important; 
    height: 80px;
    width: 80px;
    padding: 20px;
    color: white;
    background-color: rgb(7, 7, 93);
    border-radius: 80px;
    cursor: pointer;
}

.person-img img{
    float: right;
}



                                                    /* webpage-2  */

.web-page2 {
    margin: 50px 0px 50px 0px;
    width: 100%;
    height: 550px;
}
.web-page2-header {
    text-align: center;
    color: blueviolet;
}
.web-page2-para {
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
    font-size: xx-large;
    font-weight: 700;
}
.web-page2-container {
    display: grid;
    margin-top: 100px;
    grid-template-columns: 1fr 1fr 1fr;
}
.web-page2-container-item1 {
    margin: 20px;
}
.web-page2-container-item1-img {
    margin-bottom: 30px;
    text-align: center;
}
.web-page2-container-item1-header {
    text-align: center;
    font-size: large;
    font-weight: 900;
    margin-bottom: 10px;
}
.web-page2-container-item1-para {
    text-align: center;
    width: 328px;
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
    font-size: larger;
    margin-left: 85px;
}
.web-page2-container-item2 {
    margin: 20px;
}
.web-page2-container-item2-img {
    text-align: center;
    margin-bottom: 40px;
}
.web-page2-container-item2-header {
    text-align: center;
    font-size: large;
    font-weight: 900;
    margin-bottom: 10px;
}
.web-page2-container-item2-para {
    text-align: center;
    width: 328px;
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
    font-size: larger;
    margin-left: 85px;
}
.web-page2-container-item3 {
    margin: 20px;
}
.web-page2-container-item3-img {
    text-align: center;
    margin-bottom: 40px;
}
.web-page2-container-item3-header {
    text-align: center;
    font-size: large;
    font-weight: 900;
    margin-bottom: 10px;
}
.web-page2-container-item3-para {
    text-align: center;
    width: 328px;
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
    font-size: larger;
    margin-left: 85px;
}



                                        /* webpage-3  */

.web-page3 {
    background-color: rgb(6, 6, 67);
    height: 480px;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.web-page3-header {
    color: white;
    font-weight: 900;
    font-size:50px;
    margin: 100px 0px 50px 0px;
}
.web-page3-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    color: white;
}
.web-page3-container-item1 {
    text-align: center;
    font-size:larger;
}
.web-page3-container-item1 h1,
.web-page3-container-item3 h1,
.web-page3-container-item5 h1,
.web-page3-container-item7 h1{
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 10px;
    
}

.web-page3-container-item2 {
    text-align: center;
    font-size: 50px;
}
.web-page3-container-item3 {
    text-align: center;
    font-size:larger;
}
.web-page3-container-item4 {
    text-align: center;
    font-size: 50px;
}
.web-page3-container-item5 {
    text-align: center;
    font-size:larger;
}
.web-page3-container-item6 {
    text-align: center;
    font-size: 50px
}
.web-page3-container-item7 {
    text-align: center;
    font-size:larger;
}


                                        /* webpage-4  */


.web-page4 {
    background-color: white;
    height: 605px;
}
.web-page4-img {
    float: right;
}
.web-page4-container {
    display: flex;
    flex-direction:column;
    padding: 90px 120px 0px 120px;
}
.head {
    text-align: center;
    color: blueviolet;
    font-weight: 900;
    font-size: larger;
    margin-bottom: 30px;
}
.heading {
    font-size: x-large;
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
    font-weight: 900;
    margin-bottom: 30px;
}
.para {
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
    font-size: large;
}


                                                /* webpage-5  */


.web-page5 {
    width: 100%;
    height: 480px;
    background: blueviolet;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    padding: 80px 0px 0px 0px;
}
.web-page5-header {
    font-weight: 900;
    font-size: large;
    margin-bottom: 50px;
}
.web-page5-para {
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
    font-size:40px;
    font-weight: 900;
    width: 500px;
    margin-bottom: 60px;
}
.web-page5-name {
    font-weight: 900;
    font-size: larger;
    margin-bottom: 5px;
}
.web-page5-company-name {
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
    font-size: medium;
}
.switch-icon a{
    color: white;
    margin: 3px;
    font-size: 50px;
    text-decoration: none;
}




                                                /* webpage-6 */

.web-page6 {
    background-color: white;
}
.web-page6-container1 {
    background-color:  #f2e2fbe9;
    height: 100px;
    width: 100%;
    margin-bottom: 5px;
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
    text-align: center;
    padding-top: 50px;
    font-weight: 900;
    font-size: larger;
}
.web-page6-container2 {
    background-color:  #f2e2fbe9;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.web-page6-container2-item1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
.web-page6-container2-item2 {
    font-size: xx-large;
    font-family: 'Montserrat Alternates', sans-serif;
/* font-family: 'Yatra One', cursive; */
}
.web-page6-container2-item3 {
    font-size: xx-large;
    font-family: 'Dancing Script', cursive;
    
    font-weight: 900;
}
.web-page6-container2-item4 {
    font-size: xx-large;
    font-family: 'Yatra One', cursive;
}
.web-page6-container2-item5 {
    font-size: xx-large;
}



                                     /* webpage-7  */

.web-page7 {
    display: flex;
}
.web-page7-contact-page {
    height: 700px;
    width: 100%;
    padding: 100px 0px 100px 200px;
}
.web-page7-contact-page-heading-1 {
    color: blueviolet;
    font-size: larger;
    font-weight: 900;
}
.web-page7-contact-page-heading-2 {
    font-size: 40px;
    margin: 30px 0px 30px 0px;
    font-weight: 900;
}
.web-page7-contact-page-address {
    font-size: larger;
    margin-bottom: 10px;
    
}
.web-page7-contact-page-web {
    font-size: larger;
    color: rgb(23, 23, 23);
    margin-bottom: 10px;
   
}
.web-page7-contact-page-tel {
    font-size: larger;
}

.web-page7-contact-page-address a,
.web-page7-contact-page-web a,
.web-page7-contact-page-tel a{
    color: rgb(23, 23, 23);
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
}

.web-page7-contact-page-social {
    margin-top: 20px;
    display: flex;
}
img{
    border-radius: 10px;
}
.twitter{
    margin: 20px 30px 0px 0px;
    
}
.linkdln {
    margin: 20px 30px 0px 0px;
}
.youtube {
    margin: 20px 30px 0px 0px;
}
.instagram {
    margin: 20px 30px 0px 0px;
}
.whatsapp {
    margin: 20px 30px 0px 0px;
}


                                      /* contact form */


.web-page7-contact-form {
    height: 700px;
    width: 100%;
    padding: 100px 0px 0px 100px;
}

.name {
    margin: 20px 0px 50px 0px;
    display: flex;
}

.first-name {
    margin-right: 100px;
    font-weight: 500;
    font-size: larger;
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
}
.abestress {
    color: red;
}
.last-name {
    font-weight: 500;
    font-size: larger;
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
}
.email {
    margin-bottom: 50px;
    font-weight: 500;
    font-size: larger;
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
}
.message {
    font-weight: 500;
    font-size: larger;
    margin-bottom: 50px;
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
}
.submit {
    
}
input[type=text],
input[type=email],
textarea{
    border: none;
    border-bottom: 2px solid black;
    width: 80%;
    margin-top: 20px;
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
    font-size: larger;
}

input[type=text]:hover,
input[type=email]:hover,
textarea:hover{
    border-bottom: 2px solid blueviolet;
}

                                                